[Unit]
Description=SSH tunnel to %I
Requires=network-online.target
Wants=network-online.target
After=network-online.target

[Service]
User=andrei
Group=andrei
ExecStart=/usr/bin/ssh -N -R 10022:localhost:22 %i
# -o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target

